In [5]:
import numpy as np
import pandas as pd

np.random.seed(234)
aleatorios = np.random.randint(low = 950, high = 1050, size=100)
df = pd.DataFrame(aleatorios, columns=["preco"])
df.head()

   preco
0   1022
1    981
2   1018
3   1007
4   1045

In [20]:
# linhas na posicao posterior (n+1): df.preco.shift(-1)
# linhas na posicao atual (n): df.preco

df['crescimento'] = df.preco.shift(-1).div(df.preco) - 1
df.head()

   preco  crescimento
0   1022    -0.040117
1    981     0.037717
2   1018    -0.010806
3   1007     0.037736
4   1045    -0.059330

In [21]:
df['crescimento_direto'] = df.preco.pct_change()
df.head()

   preco  crescimento  crescimento_direto
0   1022    -0.040117                 NaN
1    981     0.037717           -0.040117
2   1018    -0.010806            0.037717
3   1007     0.037736           -0.010806
4   1045    -0.059330            0.037736